.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .header {
    color: blue;
  }
  
  .big {
    font-size: 45px;
  }
  .anotherClass {
    background: red;
  }
  
  .button.light {
    background: white;
    color: pink;
  }
  
  button.solid {
    background: pink;
    color: white;
  }
  
  